.home {
  background-image: url("https://nikunjthesiya.vercel.app/images/light-bg-vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80rem;
  padding: 0;
}
.hero {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.span {
  width: 150px;
  text-align: center;
  padding: 4px;
  background-color: gray;
  border-radius: 14px;
  border: 1px solid black;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  letter-spacing: 2px;
  margin-top: 12rem;
}
.heading1 h2 {
  font-size: 42px;
}
.heading2 p {
  font-size: 25px;
}
.heading3 p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.profile {
  background: url("https://nikunjthesiya.vercel.app/_next/static/media/hero-main.f58be97d.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.prof1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.btn {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.hire {
  width: 180px;
  height: 60px;
  border: 2px solid darkgoldenrod;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 25px;
  background-color: rgb(243, 181, 26);
  color: rgb(53, 39, 32);
  padding-top: 5px;
}

.hire:hover {
  background-color: rgb(53, 39, 32);
  color: rgb(243, 181, 26);
}
.resume {
  width: 180px;
  height: 60px;
  border: 2px solid darkgoldenrod;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 25px;
  background-color: rgb(53, 39, 32);
  color: rgb(243, 181, 26);
  padding-top: 5px;
}

.resume:hover {
  background-color: rgb(53, 39, 32);
  color: rgb(243, 181, 26);
}

.NextJs {
  width: 170px;
  height: 50px;
  border: 1px solid blanchedalmond;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  font: bolder;
  font-size: 25px;
}

.TailwindCSS {
  width: 170px;
  height: 50px;
  border: 1px solid blanchedalmond;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  font: bolder;
  font-size: 25px;
}

.ReactJS {
  width: 170px;
  height: 50px;
  border: 1px solid blanchedalmond;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  font: bolder;
  font-size: 25px;
}

.JavaSCRIPT {
  width: 170px;
  height: 50px;
  border: 1px solid blanchedalmond;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  font: bolder;
  font-size: 25px;
}

.GraphQl {
  width: 170px;
  height: 50px;
  border: 1px solid blanchedalmond;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  font: bolder;
  font-size: 25px;
}

.Figma {
  width: 170px;
  height: 50px;
  border: 1px solid blanchedalmond;
  background-color: black;
  color: white;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  font: bolder;
  font-size: 25px;
}
